# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/Source/Neural_Network_ART/.vs/Neural_Network_ART/*
/Source/Debug/*
/Source/Eigen/*
/Source/x64/*
/Source/Neural_Network_ART/x64/Debug/Neural_N.2a1f4f17.tlog/*
/Source/Neural_Network_ART/x64/Debug/*

*.sqlite
*.txt

