################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Source/Neural_Network_ART/.vs/Neural_Network_ART/v16
